:root {
  --img-width: 524px;
}

body {
  margin: 50px 2.5% 50px 2.5%;
  display: flex;
  background-color: #0c1b5c;
  overflow: hidden;
}

.container {
  width: 524px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-slider {
  margin-left: 0px;
  margin-bottom: 50px;
  display: flex;
  order: 1;
  transition: margin-left 0.5s;
}

.img-slider img {
  border-radius: 30px;
}

.description {
  order: 2;
}

.description p {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #ffffff;
}

input {
  width: 20px;
  height: 20px;
  order: 3;
  cursor: pointer;
}

/* Анимация */

#button-01:checked ~ .img-slider {
  margin-left: 0px;
  transition: margin-left 0.5s;
}

#button-02:checked ~ .img-slider {
  margin-left: calc(-1 * var(--img-width));
  transition: margin-left 0.5s;
}

#button-03:checked ~ .img-slider {
  margin-left: calc(-2 * var(--img-width));
  transition: margin-left 0.5s;
}

#button-04:checked ~ .img-slider {
  margin-left: calc(-3 * var(--img-width));
  transition: margin-left 0.5s;
}

#button-05:checked ~ .img-slider {
  margin-left: calc(-4 * var(--img-width));
  transition: margin-left 0.5s;
}

#button-06:checked ~ .img-slider {
  margin-left: calc(-5 * var(--img-width));
  transition: margin-left 0.5s;
}