:root {
  --img-width: 524px; /* Ширина картинки по-умолчанию */
  --img-width-380: 380px; /* Ширина картинки на маленьких мониторах */
  --strings-height: 30px; /* Для смены надписи */
}

body {
  margin: 50px 2.5% 50px 2.5%;
  display: flex;
  background-color: #0c1b5c;
  overflow: hidden;
}

.container {
  min-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: none;
}

#button-01:checked~.img-slider :first-child {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}

#button-02:checked~.img-slider :first-child {
  margin-left: calc(-1 * var(--img-width));
  transition: margin-left 0.3s ease-in-out;
}

#button-03:checked~.img-slider :first-child {
  margin-left: calc(-2 * var(--img-width));
  transition: margin-left 0.3s ease-in-out;
}

#button-04:checked~.img-slider :first-child {
  margin-left: calc(-3 * var(--img-width));
  transition: margin-left 0.3s ease-in-out;
}

#button-05:checked~.img-slider :first-child {
  margin-left: calc(-4 * var(--img-width));
  transition: margin-left 0.3s ease-in-out;
}

#button-06:checked~.img-slider :first-child {
  margin-left: calc(-5 * var(--img-width));
  transition: margin-left 0.3s ease-in-out;
}

.img-slider {
  width: var(--img-width);
  height: 697px;
  display: flex;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.img-slider :first-child {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}

.description-and-controls {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls {
  display: flex;
}

label {
  cursor: pointer;
}

label div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label div div {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff066;
  border: 1px solid #ffffff;
  border-radius: 30%;
  transition: background-color 0.4s;
}

label div div:hover {
  background-color: #ffc400;
  transition: background-color 0.4s;
}

label div div::after {
  width: 15px;
  height: 15px;
  content: "";
  display: none;
  background-color: #0c1b5c;
  border-radius: 40%;
}

#button-01:checked~.description-and-controls #radio-01::after {
  display: block;
}

#button-02:checked~.description-and-controls #radio-02::after {
  display: block;
}

#button-03:checked~.description-and-controls #radio-03::after {
  display: block;
}

#button-04:checked~.description-and-controls #radio-04::after {
  display: block;
}

#button-05:checked~.description-and-controls #radio-05::after {
  display: block;
}

#button-06:checked~.description-and-controls #radio-06::after {
  display: block;
}

.description {
  height: 27px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  background-color: #ff0000;
}

.description p {
  position: relative;
  top: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #ffffff;
  transition: top 0.2s ease-in-out;
}

#button-01:checked~.description-and-controls .description p {
  top: calc(var(--strings-height) * 0);
}

#button-02:checked~.description-and-controls .description p {
  top: calc(var(--strings-height) * 1);
}

#button-03:checked~.description-and-controls .description p {
  top: calc(var(--strings-height) * 2);
}

#button-04:checked~.description-and-controls .description p {
  top: calc(var(--strings-height) * 3);
}

#button-05:checked~.description-and-controls .description p {
  top: calc(var(--strings-height) * 4);
}

#button-06:checked~.description-and-controls .description p {
  top: calc(var(--strings-height) * 5);
}

/* Адаптация */

@media (max-width: 786px) {
  .container {
    min-width: calc(var(--img-width) + 6px);
  }

  .description-and-controls {
    flex-direction: column-reverse;
    align-items: center;
  }

  .description {
    margin: 20px;
  }
}

@media (max-width: 550px), (max-height: 830px) {
  .container {
    min-width: calc(var(--img-width-380) + 6px);
  }

  .img-slider {
    width: 380px;
    height: 505px;
  }

  .img-slider img {
    width: 380px;
    height: 505px;
  }

  #button-01:checked~.img-slider :first-child {
    margin-left: 0px;
  }
  
  #button-02:checked~.img-slider :first-child {
    margin-left: calc(-1 * var(--img-width-380));
  }
  
  #button-03:checked~.img-slider :first-child {
    margin-left: calc(-2 * var(--img-width-380));
  }
  
  #button-04:checked~.img-slider :first-child {
    margin-left: calc(-3 * var(--img-width-380));
  }
  
  #button-05:checked~.img-slider :first-child {
    margin-left: calc(-4 * var(--img-width-380));
  }
  
  #button-06:checked~.img-slider :first-child {
    margin-left: calc(-5 * var(--img-width-380));
  }
}